<div class="card">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-body">
        <div class="container container-fluid mt-5">
            <div class="row justify-content-center">

                <h2 id="blogname">{{title}}</h2>
                <p id="description">{{description}}</p>
                <p>Created by <span id="username">{{user.name}}</span>on <span id="date">{{format_date
                        date_created}}</span>
                </p>

                <div class="border-primary rounded lightBlue d-flex">

                    <textarea class="form-control" id="comment" placeholder="Write a comment"></textarea>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

{{#if comments.length}}
<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">

        <h3 id="blogname">Comments:</h3>
        {{#each comments as |comment|}}

        <div class="col-10">
            <p> <span> <strong>{{user.name}}:</strong> </span>{{comment.description}}</p>
        </div>
        <div class="col">
            <p>{{format_date comment.date_created}}</p>
        </div>

        {{/each}}
    </div>
</div>
{{/if}}
<script src="/js/blog.js"></script>