<div class="card">
    <div class="card-header">
        {{title}}
    </div>
    <div class="card-body">
        <div class="container container-fluid mt-5">
            <div class="row justify-content-center">

                <h2 id="blogtitle">{{title}}</h2>
                <p id="contents">{{contents}}</p>
                <p>Created by <span id="username">{{user.username}}</span> on <span id="date">{{format_date created_date}}</span>
                </p>

                <div class="border-primary rounded lightBlue d-flex">

                    <textarea class="form-control" id="comment" placeholder="Write a comment"></textarea>
                      <button class="btn btn-primary" id="submitbtn" data-id="{{id}}">Submit</button>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

{{#if comments.length}}
<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">

        <h3 id="blogname">Comments:</h3>
        {{#each comments as |comment|}}
        <div class="col-10">
            <p> <span> <strong>{{user.username}}:</strong> </span>{{comment.contents}}</p>
        </div>
        <div class="col">
            <p>{{format_date comment.date_created}}</p>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}
<script src="/js/blog.js"></script>